*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fffde8;
}
html,body{
    height: 100%;
}
header img,.serve_banner,.serve_banner2{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.serve_banner,.serve_banner2{
    margin-top: 2em;
}
.oneself_serve,.merchant_serve{
    margin-top:2em;
}
/* .main{
    margin-top: 5em;
} */

 .header_text{
        display: block;
        margin: 0 auto;
    }
/* .introduce,.oneself,.merchant{
    position: relative;
} */
/* .introduce_header,.oneself_header,.merchant_header{
    width: 120px;
    height: 23px;
    position: absolute;
    top: -10px; left: 40%;
} */
p{
    color: grey;
}
.text{
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 1.5em;
      padding: 3em;
  }
.main_text{
    margin-bottom: 1em;
    text-align: justify;
    
}
.serve {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}
h2{
    background-color: #4c8492;
    color: #f09c67;
    text-align: center;
    padding: 0.5em;
}
h3{
    font-weight:normal;
    color: #f09c67;
    padding:0.3em;
    border:2px solid #f7e0a3;
    border-radius: 25%;
    font-size: 16px;
}
h4{ 
    /* text-align: center;
    margin-top: 3em; */
    width: 6em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    margin: 0 auto;
    margin-top:2em;
    border: 1.5px solid #4c8492;
    border-radius: 10%

}
footer{
    background-color: #4c8492;
    padding: 1em;
}
.info p{
    color: #f7e0a3;
    font-size: 12px;
    padding-left: 3em;
}

